%h2 Players
- User.all.sort_by(&:current_rank).reverse.each do |user|
  .row
    .span1
      = link_to image_tag(user.gravatar_url(:size => 32)), user
  
    .span3
      %strong #{user.name} (#{'%0.1f' % user.current_rank})
      %br
      %small #{pluralize user.wins_count, 'win'}, #{pluralize user.losses_count, 'loss'}

.spacer3
%h2 Teams
- user_list = Team.all.map(&:pairings)
- list_and_count = user_list.inject(Hash.new(0)) {|h,i| h[i] += 1; h }
- list_and_count = list_and_count.to_a.sort_by(&:last).reverse
- list_and_count.each do |u, count|
  .row
    .span1
      .count= count
    .span3
      %strong #{u[0].name}
      %br
      %strong #{u[1].name}
